.con {
	display: flex;
	justify-content: center;
	margin-top: 3rem;
	margin-bottom: 3rem;
	font-style: italic;
	font-weight: bold;
	font-size: 25px;
	border-radius: 20px;
}

.title {
	margin-bottom: 10px;
	width: 407px;
	height: 36px;
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 600;
	font-size: 24px;
	line-height: 36px;
	/* identical to box height */
	display: flex;
	align-items: center;
	/* Neutral Color/Netral 100 */
	color: #212121;
}

.desc {
	margin-top: 10px;
	margin-bottom: 20px;
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	display: flex;
	align-items: center;
	width: 266px;
	height: 24px;
	color: #616161;
}

.start {
	color: #4161ff;
}

.My {
	color: #22bdff;
}

.Btn {
	width: 100%;
	color: black;
	background-color: #2196f3;
	margin-top: 2rem;
	margin-bottom: 2rem;
}

.icon {
	fill: #2196f3;
	color: #2196f3;
}

.radio input ~ label {
	background-color: rgb(233, 225, 225);
	color: rgb(158, 146, 146);
}
.radio input:checked ~ label {
	background-color: rgb(70, 230, 22);
	color: white;
}

.selectWrapper {
	font-size: 12px;
	position: relative;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	width: fit-content;
	border: 2px solid #2196f3;
	color: #212121;
	padding: 1em;
	border-radius: 8px;
	cursor: pointer;
	width: 100%;
}

.filterIconWrapper {
	font-size: 14px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	width: 100%;
	border: 2px solid #2196f3;
	color: #212121;
	padding: 1em;
	border-radius: 8px;
	cursor: pointer;
	transition: all 0.3s ease-in-out;
}

.filterIconWrapper:hover {
	background: #2196f3;
}

.filterIconWrapper:hover .filterIcon {
	color: white;
}

.filterIcon {
	width: 16px;
	height: 16px;
	color: #212121;
	transition: all 0.3s ease-in-out;
}

.arrowIcon {
	width: 16px;
	height: 16px;
	margin-left: 1em;
}

.select {
	width: 150%;
}

.headerContainer {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	margin: 1em 0;
	border-radius: 8px;
	padding: 1em;
	color: white;
	border: 1px solid #e0e0e0;
}

.totalTitle {
	font-size: 24px;
	font-weight: 500;
	color: #212121;
}

.filterWrapper {
	display: grid;
	grid-template-columns: 4fr 1fr 5fr;
	grid-gap: 0.5em;
	margin-left: auto;
	width: fit-content;
}

.container {
	height: 100%;
}

.contentContainer {
	height: 100%;
	position: relative;
}

.button {
	width: 100%;
}

.aLink,
.aLink:hover {
	color: white;
}

.buttonContainer {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 0.5em;
}

.searchWrapper {
	position: relative;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	width: fit-content;
	padding: 1em;
	border-radius: 8px;
	cursor: pointer;
	width: 100%;
	border: 2px solid #2196f3;
	color: black;
}

.searchIcon {
	width: 16px;
	height: 16px;
	margin-right: 0.5em;
}

.searchInput {
	font-size: 12px;
	font-weight: 500;
	border: none;
	outline: none;
	width: 100%;
}

.modalContainer {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: white;
	border-radius: 20px;
	padding: 2em 3em;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	outline: none;
}

.modalTitle {
	width: 100%;
	font-size: 20px;
	font-weight: 600;
	margin-bottom: 1em;
	text-align: center;
}

.buttonFilter {
	width: 100%;
}

.buttonSaveFilter {
	width: 80%;
	margin-top: 1em;
	align-self: center;
}

.tag {
	text-align: center;
	font-size: 12px;
	font-weight: 500;
	width: 100%;
}
