.container {
	width: 50%;
	height: fit-content;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: white;
	border-radius: 20px;
	padding: 2em 3em;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}

.headerTitle {
	font-size: 20px;
	font-weight: 600;
	margin-bottom: 2em;
}

.content {
	width: 100%;
}

.formInput {
	width: 100%;
	margin-bottom: 1em;
	border: 1px solid #56585c;
	padding: 1em;
	border-radius: 15px;
	position: relative;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

.formInput::placeholder,
.placeholder {
	font-size: 16px;
	font-weight: 400;
	color: #9e9e9e;
}

.gFormInput {
	position: relative;
}

.gFormInput > input {
	padding-right: calc(1.5em + 20px);
}

.checkingIconContainer {
	position: absolute;
	top: 0em;
	right: 1em;
	height: 100%;
	display: flex;
	align-items: center;
}

.checkingErrorIcon,
.checkingSuccessIcon,
.checkingIcon {
	width: 20px;
	height: 20px;
}

.checkingIcon {
	cursor: pointer;
	transition: all 0.3s ease-in-out;
}

.checkingIcon:hover {
	transform: scale(1.1);
}

.checkingSuccessIcon {
	color: #079841;
}

.checkingErrorIcon {
	color: #ff0000;
}

.footer {
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.footer button {
	width: 48%;
}

.formGroup {
	position: relative;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-bottom: 1.5em;
}

.label {
	font-size: 16px;
	font-weight: 600;
	color: #000000;
	margin-bottom: 0.5em;
}

.inputCheckingContainer {
	position: relative;
	border-radius: 8px;
	padding: 0.75em 1em;
	background: white;
	box-shadow: 0 3px 11px #0000001a, 0 3px 6px #00000026;
	outline: none;
}

.inputChecking {
	outline: none;
	width: 90%;
}

.input {
	border-radius: 8px;
	padding: 0.75em 1em;
	background: white;
	box-shadow: 0 3px 11px #0000001a, 0 3px 6px #00000026;
	outline: none;
}

.helpText {
	font-size: 12px;
	font-weight: 400;
	color: #616161;
	margin-top: 0.5em;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
}

.helpTextIcon {
	margin-right: 0.5em;
}
