.container {
	display: flex;
	align-items: center;
	flex-direction: row;
	cursor: pointer;
	position: relative;
}

.profileContainer {
	display: flex;
	flex-direction: row;
	align-items: space-around;
	justify-content: center;
}

.gearIcon {
	width: 20px;
	height: 20px;
	margin-right: 1.5em;
}

.arrowIcon {
	width: 20px;
	height: 20px;
	margin-left: 1.5em;
}

.avatar {
	width: 3em;
	height: 3em;
	border-radius: 50%;
	object-fit: cover;
	margin-right: 20px;
}

.nameContainer {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
}

.name {
	font-size: 16px;
	font-weight: 600;
	margin-bottom: 5px;
}

.role {
	color: #9e9e9e;
	font-size: 10px;
	font-weight: 600;
}

.email {
	font-size: 10px;
	font-weight: 500;
	color: #616161;
}

.menuContainer,
.closedMenuContainer {
	position: absolute;
	top: 100%;
	right: 0;
	width: 130%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #fff;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
	padding: 2em;
	margin-top: 1.5em;
	border-radius: 8px;
	opacity: 0;
	visibility: hidden;
	animation: slideDown 0.3s ease-in-out forwards;
}

@keyframes slideDown {
	0% {
		opacity: 0;
		transform: translateY(-10px);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
		visibility: visible;
	}
}

.menuItemContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	margin-top: 1em;
}

.menuItem {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	width: 100%;
	margin-top: 0.5em;
	background: #2196f3;
	color: white;
	border-radius: 8px;
	transition: 0.3s ease-in-out;
	cursor: pointer;
}

.menuItem:hover {
	background: #1976d2;
}

.menuItem > div {
	padding: 0.75em;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.menuIcon {
	width: 20px;
	height: 20px;
	margin-left: 0.5em;
}

.menuTitle {
	font-size: 16px;
	font-weight: 600;
	margin-left: 1em;
}

.logoutContainer {
	display: flex;
	justify-content: center;
	width: 100%;
	margin-top: 4em;
	border: 2px solid #2196f3;
	border-radius: 8px;
	color: #2196f3;
	transition: 0.3s ease-in-out;
}

.logoutContainer:hover {
	background: #2196f3;
	color: white;
}

.logoutContainer > div {
	padding: 0.75em;
}

.logoutTitle {
	font-size: 16px;
	font-weight: 600;
}
