.container {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	padding: 1em;
}

.contentTitle,
.contentTitlePlaceholder,
.contentTitleInput {
	font-size: 20px;
	font-weight: 600;
}

.contentTitleContainer {
	width: 65%;
}

.contentDeadlineContainer {
	position: relative;
	margin-top: 0.5em;
}

.datePickerWrapper {
	z-index: 1;
	position: absolute;
	top: 100%;
	left: 0;
	width: fit-content;
	height: fit-content;
	padding: 0.5em 0 2em 0;
}

.datePickerContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 0.5em 1em;
	border-radius: 14px;
	background: #ffffff;
	box-shadow: 0 3px 11px #0000001a, 0 3px 6px #00000026;
}

.formGroup {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
}

.dateButtonContainer {
	margin: 1em;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	border-radius: 8px;
	width: 100%;
}

.dateButtonContainer {
	background: transparent;
	width: 100%;
}

.dateButtonContainer button {
	font-size: 14px;
	font-weight: 400;
	width: 48%;
}

.dayPicker {
	margin: 0 !important;
}

.dayPicker div[role='presentation'] {
	font-size: 14px;
	font-weight: 600;
}

.dayPicker > div > div > div:nth-child(1) button:focus,
.dayPicker > div > div > div:nth-child(1) button:focus-visible {
	background-color: none;
	border-color: none;
	color: black;
	outline: none;
}

.dayPicker button:hover,
.dayPicker button:focus-visible,
.dayPicker button[aria-selected='true'] {
	background-color: #2196f3 !important;
	border-color: #2196f3 !important;
	color: white !important;
	outline: none !important;
}

.timePicker > div {
	box-shadow: none;
	margin-left: 1em;
}

.timePicker span[data-testid='topbar_hour'],
.timePicker span[data-testid='topbar_minute'] {
	color: black !important;
	font-weight: 500;
}

.timePicker div[data-testid='clock-wrapper'] {
	padding: 0.5em 0;
}

.timePicker > div > div {
	padding: 0;
}

.contentTitle {
	color: #212121;
}

.contentTitlePlaceholder,
.contentTitleInput::placeholder {
	color: #bdbdbd;
}

.deadlinePlacholder,
.deadline {
	font-size: 16px;
	font-weight: 400;
}

.deadline {
	color: #212121;
}

.deadlinePlacholder {
	color: #bdbdbd;
}

.contentTitleEditIcon {
	width: 20px;
	height: 20px;
	margin-left: 1em;
	cursor: pointer;
	transition: all 0.2s ease-in-out;
}

.contentDeadlineIcon {
	width: 16px;
	height: 16px;
	margin-left: 1em;
	cursor: pointer;
	transition: all 0.2s ease-in-out;
}

.contentTitleEditIcon:hover,
.contentDeadlineIcon:hover {
	transform: scale(1.1);
}

.contentTitleInput {
	border: none;
	outline: none;
	color: #212121;
	width: 100%;
}

.contentButton {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-end;
	width: 30%;
}

.contentButton svg {
	width: 20px;
	height: 20px;
}

.contentButton span {
	font-size: 14px;
	font-weight: 500;
}

.button {
	height: 100%;
	padding: 0.5em 1em;
	margin-left: 1em;
}

.previewContainer {
	padding: 0.5em 1em;
	background: #bdbdbd;
	border-radius: 8px;
	width: fit-content;
	display: flex;
	flex-direction: row;
	align-items: center;
	cursor: pointer;
	transition: all 0.2s ease-in-out;
}

.previewContainer:hover {
	background: #9e9e9e;
}

.previewIcon {
	width: 20px;
	height: 20px;
	margin-right: 0.5em;
}

.videoPreviewContainer {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #fff;
	border-radius: 8px;
	padding: 1em;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.previewTitle {
	position: relative;
	font-size: 16px;
	font-weight: 600;
	margin-bottom: 1em;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
}

.previewCloseIcon {
	position: absolute;
	top: 50;
	right: 0;
	width: 20px;
	height: 20px;
	cursor: pointer;
	transition: all 0.2s ease-in-out;
}

.previewCloseIcon:hover {
	transform: scale(1.1);
}
