.sidebar {
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	background-color: #4161ff;
	width: 20%;
	padding: 3em 1.5em 1em 1.5em;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.logo {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 1.5em;
}

.footer {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: black;
	font-size: 12px;
	font-weight: 500;
	width: 100%;
	background-color: white;
	padding: 0.5em;
	border-radius: 8px;
}

.mainContent {
	background-color: #ffffff;
	flex-grow: 1;
}

.descriptionHeader {
	font-style: italic;
	font-weight: 700;
	font-size: 20px;
	text-align: center;
	color: #ffffff;
}

.description {
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 16px;
	text-align: center;
	color: #ffffff;
}

.icon {
	margin-right: 15px;
	color: white;
}

.listItem,
.listItemActive,
.listLearning,
.logoutItem,
.listCourse {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 1em;
	border-radius: 8px;
	width: 100%;
	box-sizing: border-box;
	margin-bottom: 1em;
	transition: 0.2s all ease-in-out;
}

.courseListContainer,
.learningListContainer {
	position: absolute;
	top: calc(100% + 0.5em);
	left: 0;
	width: 100%;
	background-color: #ffffff;
	border-radius: 8px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	padding: 0.5em;
	z-index: 2;
	animation: slideDown 0.3s ease-in-out;
	box-shadow: 0 3px 11px #0000001a, 0 3px 6px #00000026;
}

.courseListOptionContainer {
	display: flex;
	flex-direction: column;
	width: 100%;
	overflow: auto;
	max-height: 200px;
}

.courseListOptionContainer::-webkit-scrollbar {
	width: 6px;
	background-color: transparent;
}

.courseListOptionContainer::-webkit-scrollbar-thumb {
	background-color: #c0c0c0;
	border-radius: 3px;
}

.courseListOptionContainer::-webkit-scrollbar-thumb:hover {
	background-color: #a0a0a0;
}

@keyframes slideDown {
	0% {
		opacity: 0;
		visibility: hidden;
		transform: translateY(-10px);
	}
	100% {
		opacity: 1;
		visibility: visible;
		transform: translateY(0px);
	}
}

.courseListItem,
.learningListItem {
	padding: 0.5em;
	width: 100%;
	color: black;
	border-radius: 8px;
	transition: 0.2s all ease-in-out;
}

.courseListItem:hover,
.learningListItem:hover {
	background-color: #4161ff;
	color: white;
}

.courseListItemTitle,
.learningListItemTitle {
	font-weight: 400;
	font-size: 16px;
}

.listCourseText {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
}

.courseListLength {
	font-weight: 400;
	font-size: 14px;
	color: white;
	margin-left: 0.5em;
	padding: 0.25em 0.5em;
	border-radius: 8px;
	background-color: #4161ff;
}

.listItemActive {
	background-color: #0d47a1;
}

.listLearning {
	position: relative;
}

.listCourse {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	border-radius: 8px;
	width: 100%;
	background-color: #ffffff;
	color: black;
	position: relative;
}

.logoutItem {
	display: flex;
	flex-direction: row;
	justify-content: center;
	border-radius: 8px;
	width: 100%;
	margin-bottom: 0.5em;
	border: 2px solid #ffffff;
	color: black;
}

.listItem:hover,
.listLearning:hover {
	background-color: #0d47a1;
}

.listCourse:hover {
	background-color: #dedede;
	color: black;
}

.logoutItem:hover {
	background-color: #284cff;
}
