.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.content {
    display: flex;
    flex: 1;
    overflow-y: hidden;
    transition: margin-left 0.3s ease;
}

.sidebar {
    flex: 0 0 auto;
    width: 20%;
    background: #f0faff;
    padding: 1em 1.5em;
    overflow-y: auto;
    transition: width 0.3s ease, padding 0.3s ease;
}

.hideSidebar {
    padding: 1em 0;
    width: 0;
}

.sidebar::-webkit-scrollbar {
    width: 6px;
    background-color: transparent;
}

.sidebar::-webkit-scrollbar-thumb {
    background-color: #c0c0c0;
    border-radius: 3px;
}

.sidebar::-webkit-scrollbar-thumb:hover {
    background-color: #a0a0a0;
}

.main {
    flex: 1rem;
    padding: 1em;
    transition: margin-left 0.3s ease;
}

.menuTitleContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.menuTitle {
    font-size: 14px;
    font-weight: 600;
    color: #212121;
}

.menuBoxContainer {
    margin-top: 1em;
    font-size: 14px;
    font-weight: 500;
}

.menuBoxSelected,
.menuBox {
    border-radius: 8px;
    padding: 1em;
    margin-bottom: 1em;
    display: flex;
    align-items: center;
    cursor: pointer;
    flex-direction: row;
}

.menuIcon,
.menuParticipantIcon,
.menuAddIcon {
    width: 24px;
    height: 24px;
}

.menuIcon,
.menuParticipantIcon {
    margin-right: 1em;
}

.menuParticipantIcon {
    color: #2196f3;
}

.menuAddIcon {
    background: #2196f3;
    border-radius: 8px;
    padding: 4px;
    color: white;
}

.menuBoxSelected {
    background: #2196f3;
    box-shadow: 0px 4px 4px 0px #0000000d;
    color: white;
}

.menuBox {
    background: #ffffff;
    box-shadow: 0px 4px 4px 0px #0000000d;
}

.menuCourseContainer {
    display: flex;
    flex-direction: column;
    margin-top: 1em;
}

.menuCourse {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 8px;
    padding: 1em 1.5em;
    background: #2196f3;
    color: white;
    font-size: 14px;
}

.menuCourseTitle {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.menuCourseTitleSection {
    font-weight: 400;
}

.menuCourseTitleCourse {
    font-weight: 600;
}

.menuCourseArrowContainer {
    display: flex;
    align-items: center;
}

.menuArrowIcon {
    width: 14px;
    height: 14px;
    cursor: pointer;
}

.modulContainer {
    margin-top: 1em;
    background: #ffffff;
    width: 100%;
    border-radius: 8px;
    padding: 0.5em;
}

.modulChild {
    width: 100%;
    border-radius: 8px;
    padding: 0.5em 1em;
    background: white;
    margin-bottom: 0.5em;
    opacity: 0;
    visibility: hidden;
    animation: slideDown 0.3s ease-in-out forwards;
}

@keyframes slideDown {
    0% {
        opacity: 0;
        transform: translateY(-10px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
        visibility: visible;
    }
}

.modulChildSelected {
    background: #bbdefb;
}

.modulContent {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 0.5em;
}

.modulType {
    font-size: 14px;
    font-weight: 400;
}

.modulTypeIcon {
    width: 24px;
    height: 24px;
    margin-right: 1em;
    color: #2196f3;
}

.modulTitle {
    font-size: 14px;
    font-weight: 600;
}