.container {
	padding: 0em 0.5em;
}

.description {
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	text-align: center;
}

.descriptionActive {
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	text-align: center;
	color: #ffffff;
}

.icon {
	margin-right: 15px;
	color: #2196f3;
	transition: 0.2s all ease-in-out;
}

.listItem,
.listItemActive {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 1.5em;
	border-radius: 8px;
	width: 100%;
	box-sizing: border-box;
	margin-bottom: 1em;
	transition: 0.2s all ease-in-out;
}

.listItem {
	padding: 1em;
}

.listItemActive {
	background-color: #2196f3;
}

.iconActive {
	margin-right: 15px;
	color: #ffffff;
}

.listItem,
.listItemActive {
	color: #212121;
}

.listItem:hover,
.listItem:hover .icon {
	background-color: #2196f3;
	color: #ffffff;
}

/* .icon:hover{
	color: #FFFFFF;
} */

/* @media screen and (min-width: 1200px) {
	.sidebar {
		width: 50%;
	}
 } */

@media screen and (min-width: 1536px) {
	.sidebar {
		width: 25%;
	}
}
