.contentContainer {
	width: fit-content;
	min-width: 15%;
	padding: 1em;
	border-radius: 8px;
	cursor: pointer;
	transition: all 0.2s ease-in-out;
	margin-bottom: 1em;
	box-shadow: 0 3px 11px #0000001a, 0 3px 6px #00000026;
}

.contentContainer:hover {
	background: #2196f3;
}

.contentContainer:hover .previewIcon,
.contentContainer:hover .dataName {
	color: white;
}

.contentTitleContainer {
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

.deadlineContainer,
.noDeadlineContainer {
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: center;
	margin-top: 1em;
	font-size: 12px;
	font-weight: 500;
	color: white;
	padding: 1em;
	border-radius: 8px;
}

.previewIcon {
	width: 16px;
	height: 16px;
	margin-left: 1em;
	color: #212121;
}

.dataName {
	font-size: 16px;
	font-weight: 400;
	color: #212121;
}

.videoModal {
	width: 70%;
	height: 90%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: white;
	border-radius: 8px;
	padding: 1em;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.fileModal {
	width: 80%;
	height: 90%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	flex-direction: column;
	align-items: center;
}

.closeIcon {
	position: absolute;
	top: -1em;
	right: -1em;
	width: 20px;
	height: 20px;
	padding: 1em;
	background-color: #212121;
	border-radius: 50%;
	color: white;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	transition: all 0.2s ease-in-out;
}

.closeIcon:hover {
	background-color: #424242;
}
