.container {
	display: flex;
    min-height: 100vh;
}

.iconRight {
	margin-left: 1em;
}

.iconLeft {
	margin-right: 1em;
}

.button {
	margin: 0 0.5em;
}

.buttonContainer,
.tagContainer,
.outlineTagContainer {
	margin: 1em 0;
	display: flex;
	flex-direction: row;
	align-items: center;
	flex-wrap: wrap;
}

.tag,
.outlineTag {
	margin-right: 1em;
}

.otherContainer {
	position: absolute;
	top: 2em;
	right: 4em;
}

.mainContent{
    background-color: #FFFFFF;
    flex-grow: 1;
}
